<div class="container">
  <h1>Welcome to your event creating page!</h1>
    <% if @current_user %>
    <p> Welcome to your event creating page! <%= @current_user.first_name %> </p>
    <% else %>
    <p> Welcome to your event creating page! Sign up to get started. </p>
    <% end %>
    <p> <a href='/create_user' class='login_page'> Sign Up Here</a> </p>

    <p> <a href='/login' class='login_page'> Log In Here</a> </p>

  </p>


</div>
